{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ test.title }}</title>
    <link rel="stylesheet" href="{% static 'styless.css' %}">
</head>
<body>
    <div class="intro">
        <video class="intro__video" autoplay muted loop>
            <source src="{% static 'main/img/video-bg.mp4' %}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>

    <div class="test-container">
        <h1>{{ test.title }}</h1>
        <p>{{ test.description }}</p>
    </div>
</body>
</html>